

<div class="social text-center">
	<div>
		<a href="index.php"><img class="logo" id="botlogo" src="images/logo.png"></a>
		<p class="footnote"> Copyright &copy 2015. All rights reserved by Rachel Jin.</p>
		<div>
			<a href="https://www.facebook.com/ruicong.jin"><img class="icon" src="images/fb.png"></a>
			<a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=zh_CN"><img class="icon" src="images/lk.png"></a>
			<a href="https://twitter.com/racheljin16"><img class="icon" src="images/tw.png"></a>
			<a href="https://www.google.com/maps/place/368+Castro+St,+Mountain+View,+CA+94041/@37.3918163,-122.082518,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb7339ace08ad:0xab96750c8d9fb2d"><img class="icon" src="images/location.png"></a>
			<a href="mailto:girlracheljin@gmail.com"><img class="icon" src="images/email.png"></a>
		</div>
	</div>
</div>

