<div class="container">
<div class="line"></div>
</div>
		
<div class="container">
	<p class="detail-title">Reviews</p>
</div>
	
<div class="container">
<div class="line"></div>
</div>

<div class="container">
	
	<div class="review">
		<div class="float-left col-sm-2 col-md-1">
			<img class="userimg" src="images/user1.jpg" alt="">
		</div>
		<div class="float-left col-sm-10 col-md-11">
			<p class="grey reviewtext" class="des">Absolutely delicious! My roommates and I tried this dish last week and it immediately got added to our favorite go-to list! I actually just ordered it again last night. Delicious fresh, and as leftovers. </p>
		</div>
	</div>

	<div class="review">
		<div class="float-left col-sm-2 col-md-1">
			<img class="userimg" src="images/user2.jpg" alt="">
		</div>
		<div class="float-left col-sm-10 col-md-11">
			<p class="grey reviewtext" class="des">We really liked this dish. It was slightly spicy.  There are many other options you could add to this, like sausage or other veggies, and it would still be good.</p>
		</div>
	</div>

	<div class="review padding-bottom">
		<div class="float-left col-sm-2 col-md-1">
			<img class="userimg" src="images/user3.jpg" alt="">
		</div>
		<div class="float-left col-sm-10 col-md-11">
			<p class="grey reviewtext" class="des">Loved it! Will be ordering again, and may try the spaicy version with cucumber salad next time.</p>
		</div>
	</div>
</div>

<div class="line"></div>

<div>
	<p style="text-align:center"class="detail-title">Match this dish</p>
	<div class="des-inner">
		<img class="img_mi"src="images/cucumber.jpg">
		<img class="img_mi"src="images/lotus.jpg">
		<img class="img_mi"src="images/leek.jpg">
		<img class="img_mi"src="images/sumai.jpg">
		<img class="img_mi"src="images/shrimp.jpg">
		<img class="img_mi"src="images/recipe9.jpg">	
	</div>
</div>

<div class="line"></div>

<div class="social text-center">
	<div>
		<a href="index.php"><img class="logo" id="botlogo" src="images/logo.png"></a>
		<p class="footnote"> Copyright &copy 2015. All rights reserved by Rachel Jin.</p>
		<div>
			<a href="https://www.facebook.com/ruicong.jin"><img class="icon" src="images/fb.png"></a>
			<a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=zh_CN"><img class="icon" src="images/lk.png"></a>
			<a href="https://twitter.com/racheljin16"><img class="icon" src="images/tw.png"></a>
			<a href="https://www.google.com/maps/place/368+Castro+St,+Mountain+View,+CA+94041/@37.3918163,-122.082518,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb7339ace08ad:0xab96750c8d9fb2d"><img class="icon" src="images/location.png"></a>
			<a href="mailto:girlracheljin@gmail.com"><img class="icon" src="images/email.png"></a>
		</div>
	</div>
</div>

